<?php
/**
 * SimpleSoft (http://simplesoft.pl)
 *
 * @link      https://github.com/mrova/simple-image
 * @copyright Copyright (c) 2014 SimpleSoft (http://simplesoft.pl)
 * @license   New BSD License
 */

$settings = array(
	// Project path
	'_absolutePath' => '/var/www/project/public/',

	// Relative path to directory with generated images
	'_localPath' => 'i/',

	// Absolute path to directory with oryginal images
	'_orgPath' => '/var/www/simple/data/uploads/',

	// Content Delivery Network
	'_cdn' => 'http://example.com/'
);

/**
 * You do not need to edit below this line
 */
return array(
	'Images' => $settings
);